<router-outlet></router-outlet>


<!-- <div class="row">
    <div class="col-sm-6">
        <h1>Registrate</h1>
        <div *ngIf="alertRegister"></div>
        <div class="alert alert-info">
          {{alertRegister}}
        </div>
        <form registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7">
            <p>
              <label>Nombre:</label>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required />
              <span *ngIf="!name.valid && name.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Apellido:</label>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required />
              <span *ngIf="!surname.valid && surname.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Correo Electrónico:</label>
              <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required />
              <span *ngIf="!email.valid && email.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Contraseña:</label>
              <input type="text" #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required />
              <span *ngIf="!password.valid && password.touched">
                  Campo Obligatorio
              </span>
            </p>

            <input type="submit" value="Enviar" class="btn btn-primary" />
        </form>
    </div>
</div> -->

<!-- <div class="row">
  
  <div *ngIf="identity" class="navigation col-sm-1 col-md-3">
  
      <h1 class="head-title">
        <a [routerLink]="['/']">
          <i class="fa fas fa-star"></i>
          {{title}}
        </a>
      </h1>
      <nav id="#navigation">
          <a href="#">
            <i class="fa fas fa-search"></i>
            Buscar
          </a>
          <a href="#">
            <i class="fa far fa-copyright"></i>
            Marcas
          </a>
          <a href="#">
            <i class="fa far fa-bookmark"></i>
            Tipos
          </a>
      </nav>
  
      <nav id="user_logged">
        <div class="user-image">
          <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" style="width: 50px;"/>
        </div>
        <div>
          <span id="identity_name">
            {{identity.name}}
          </span>
        </div>
        <div>
          <a [routerLink]="['/mis-datos']">
            <i class="fa fas fa-info-circle"></i>
            Mis Datos
          </a>
        </div>
        <hr>
        <div>
          <span class="btn btn-warning" (click)="logout()">
            Cerrar Sesión
          </span>
        </div>
      </nav>
  
  </div>
  
  
  <div *ngIf="identity" class = "central col-md-9">
    <div class="col-sm-11" *ngIf="!identity">
        
    
        
    
    </div>
  </div>
</div> -->


