<router-outlet></router-outlet>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0 bg-light">
      <div class="row pl-4">
          <button class="btn btn-light text-dark" (click)="openSidenav()">
            <div class="rounded-circle">
              <i class="fa fas fa-bars"></i>
            </div>
          </button>
          <div id="mySidenav" class="sidenav">
            <div class="row m-0" id="sidenav-header">
              <div class="col-6 avatar">
                <div class="user-image">
                    <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" />
                  </div>
                <span>
                  {{ identity.name }}
                </span>
              </div>
              <div class="col-6 p-3 m-auto" id="closeBtn">
                <button class="btn btn-light" (click)="closeSidenav()">
                    <i class="fa far fa-times-circle"></i>
                </button>
              </div>
            </div>
              <div class="row mx-auto">

                <nav class="navigation">
                    
                  <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
                    <span class="fa far fa-user-circle" aria-hidden="true"></span>
                      Mis Datos
                  </a>
                    <a [routerLink]="['/marcas', 1]" [routerLinkActive]="['actived']">
                      <i class="fa far fa-copyright" aria-hidden="true">
                      </i>
                      Marcas
                    </a>
                    <a href="#" [routerLinkActive]="['actived']">
                      <i class="fa fas fa-magic" aria-hidden="true">
                      </i>
                      Tipos
                    </a>
                    <a (click)="logout()" class="btn-logout">
                      <i class="fas fa-sign-out-alt"></i>
                      Salir
                    </a>
                </nav>
              </div>
          </div>
        <div class="cherie-navbar">
          <h1 class="head-title">
              <a [routerLink]="['/']">
                <i class="fa fab fa-envira"></i>
                {{title}}
              </a>
            </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div [class.hidden]="!identity" class="col-md-12 mt-4">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-11" *ngIf="!identity">
    

    <div class="col-lg-6">
        <h1>Registrate</h1>
        <div *ngIf="alertRegister"></div>
        <div class="alert alert-info">
          {{alertRegister}}
        </div>
        <form registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7">
            <p>
              <label>Nombre:</label>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required />
              <span *ngIf="!name.valid && name.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Apellido:</label>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required />
              <span *ngIf="!surname.valid && surname.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Correo Electrónico:</label>
              <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required />
              <span *ngIf="!email.valid && email.touched">
                  Campo Obligatorio
              </span>
            </p>

            <p>
              <label>Contraseña:</label>
              <input type="text" #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required />
              <span *ngIf="!password.valid && password.touched">
                  Campo Obligatorio
              </span>
            </p>

            <input type="submit" value="Enviar" class="btn btn-primary" />
        </form>
    </div>

</div> -->

