<div class="jumbotron" id="inicio">
    <div>
        <h4 id="tituloInicio" >Inicio</h4>   
    </div>
    <p class="lead text-justify mt-4" id="leadText">La piel es nuestra barrera de protección ante cualquier cantidad de agentes externos, por eso, es necesario conservar su integridad para asegurarnos de que cumpla bien sus funciones. Una piel sana refleja unos óptimos hábitos de salud, higiene y nutrición.</p>
    <hr class="my-4">
    <p class="text-justify" id="text">En Chérie podrás encontrar gran variedad de productos para el cuidado de tu piel, además de contenido audiovisual con muchos consejos sobre cómo usar estos productos.</p>
    <div class="card card-image mt-4" id="bannerHome">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-4">
            <!-- Content -->
            <i class="fa fas fa-camera-retro letra-jumbotron" id="camera"></i>
            <a href="#" class="h5 orange-text letra-jumbotron" id="contenido">Contenido</a>
            <h2 class="card-title h2 my-4 py-2 letra-jumbotron">Belleza Y Autocuidado</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
            <button class="btn peach-gradient letra-jumbotron btn-outline-secondary" id="recorrido"><i class="fa fas fa-clone left mr-2"></i>Recorrido De La Pagina</button>
          </div>
        </div>
      </div>
  </div>