<div class="col-md-12">
  <div class="col-md-8">
      <h1 class="text-center">{{titulo}}</h1>
      <hr>
      <div *ngIf="alertMessage" class="alert alert-success">
        {{alertMessage}}
      </div>

      <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <p>
            <label>Nombre:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
            </span>
          </p>

          <p>
            <label>Apellido:</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
            </span>
          </p>

          <p>
            <label>Correo Electrónico:</label>
            <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.valid && email.touched">
            </span>
          </p>
          <div class="mt-4">
              <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>

          <hr>

          <div class="image_for_edit" *ngIf="user.image && user.image != null">
            <img src="{{url + 'get-image-user/' + user.image}}" style="width: 50px;"/>
          </div>

            <input type="file" name="image" id="upload-photo" (change)="fileChangeEvent($event)" />
          
  </form>
        </div>
</div>